.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-warmblue);
  color: white;
  font-family: var(--font-display);
  margin: 0;
  border: 1px solid var(--color-grey1);
  border-radius: 4px;
  box-shadow: 0 var(--shadow-size) 0 0 var(--shadow-color);
  outline-offset: 2px;
  transform: translateY(0);
  transition: background-color 50ms ease-out,
    box-shadow 50ms ease-out,
    transform 100ms cubic-bezier(0.3, 0.6, 0.8, 1.25);
}


.button:hover {
  border-color: var(--color-warmblue);
  text-decoration: none;
  box-shadow: 0 -1px 10px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%), 0 10px 30px #f3ece8;
  transform: translateY(-1px);
}

.button:active {
  --press: 2px;
  box-shadow: 0 -1px 10px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%), 0 10px 30px #f3ece8;
  transform: translateY(var(--press));
}

button:disabled,
button[disabled],
.button[disabled],
.button[aria-disabled="true"] {
  transform: translateY(0);
  /* pointer-events: none; */
  cursor: not-allowed;
}

button:disabled:hover,
button[disabled]:hover,
.button[disabled]:hover,
.button[aria-disabled="true"]:hover {
  color: unset;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.color-swatch-button {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid var(--color-grey5);
  transition: transform 50ms ease-in-out;
}

.color-swatch-button:hover {
  border-color: var(--color-warmblue);
  transform: translateY(-1px);
  cursor: pointer;
}

.color-swatch-button:disabled {
  transform: translateY(0px);
  cursor: not-allowed;
}

.color-swatch-button-active {
  border-color: var(--color-warmblue);
}

.color-picker .react-colorful__saturation {
  border-radius: 0px;
}

.color-picker .react-colorful__hue {
  border-radius: 0px 0px 4px 4px;
}

.primary-button {
  background-color: var(--color-grey1);
  border-color: var(--color-warmblue);
  border-width: 2px;
  border-radius: 9999px;
  border-style: solid;
  padding: 0.45rem 0.7rem;
  font-size: 0.95rem;
  font-weight: bold;
  color: var(--color-warmblue);
  cursor: pointer;
}

.primary-button:hover {
  color: var(--color-grey1);
  background-color: var(--color-warmblue);
  border-color: var(--color-grey1);
}

.secondary-button {
  background-color: var(--color-grey1);
  border-color: var(--color-warmblue);
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  padding: 0.5rem .75rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-warmblue);
  cursor: pointer;
}

.secondary-button:hover {
  color: var(--color-grey1);
  background-color: var(--color-warmblue);
  border-color: var(--color-grey1);
}

/* Icon Button */
.icon-button {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  padding: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-warmblue);
  background-color: var(--color-grey1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-warmblue);
  cursor: pointer;
}

.icon-button:hover {
  border-color: var(--color-warmblue);
  color: var(--color-warmblue);
}

.icon-button:active {
  border-color: var(--color-warmblue);
  background-color: var(--color-warmblue);
  color: var(--color-grey1);
}

/* Icon Solo Button */
.icon-solo-button {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  padding: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey4);
  background-color: var(--color-grey1);
  border: none;
  cursor: pointer;
}

.icon-solo-button:hover {
  color: var(--color-warmblue);
}

.icon-solo-button:active {
  background-color: var(--color-warmblue);
  color: var(--color-grey1);
}

/* Tab Button */
.tab-button {
  flex: 1;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-grey4);
  background-color: var(--color-grey1);
  border: none;
  padding: 16px 0px 14px;
  border-bottom: 2px solid var(--color-grey1);
}

.tab-button:hover {
  color: var(--color-warmblue);
  border-bottom: 2px solid var(--color-warmblue);
}

.tab-button:active {
  color: var(--color-warmblue);
  border-bottom: 2px solid var(--color-warmblue);
}

.tab-button-active {
  color: var(--color-warmblue);
  border-bottom: 2px solid var(--color-warmblue);
}

/* Call to Action */
.call-to-action:after {
  content: 'Ask a Question';
}

.call-to-action:hover:after {
  content: 'Get an Answer';
}

/* Post Voter */
.post-voter-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-grey5);
  font-size: 2rem;
  padding: 4px;
  display: flex;
  cursor: pointer;
}

.post-voter-button:hover {
  color: var(--color-warning);
}

/* Switch */
.switch-root {
  display: flex;
  align-items: center;
  width: 42px;
  height: 25px;
  background-color: var(--color-grey4);
  border-radius: 999px;
  position: relative;
  box-shadow: 0px 2px 2px var(--color-warmblue0);
  border: 1px solid var(--color-warmblue);
}

.switch-root:focus {
  box-shadow: 0 0 0 2px var(--color-grey3);
}

.switch-root[data-state="checked"] {
  background-color: var(--color-grey3);
}

.switch-thumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: var(--color-grey1);
  border-radius: 999px;
  box-shadow: 0px 2px 2px var(--color-grey3);
  transition: transform 100ms;
  transform: translateX(-6px);
  will-change: transform;
}

.switch-thumb:focus {
  border: 1px solid var(--color-warmblue);
}

.switch-thumb[data-state="checked"] {
  transform: translateX(13px);
}